html {
  font-family: 'DM Sans', sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  text-shadow: none;
  font-weight: 400;
}

button:focus {
  outline: none;
}

.mobile {
  display: inline;
}

.non-mobile {
  display: none;
}

.non-b {
  font-weight: 400;
}

#content {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#text {
  display: inline-block;
}

.join {
  font-family: 'DM Sans', sans-serif;
  margin-top: 3vh;
  background-color: #FFFFFF;
  border: #333 3px solid;
  border-radius: 30px;
  height: 65px;
  width: 250px;
  font-size: 1.25rem;
  font-weight: 600;
}

.join:hover {
  background-color: #333;
  color: #fff;
  transform: translatey(-1px);
  transition: 200ms;
  cursor: pointer;
}


#logo {
  width: 10rem;
  height: 10rem;
  margin-right: 2vw;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#particles-js {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 900px) {

  body {
    text-align: left;
  }

  h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

  .countdown {
    font-size: 2rem;
  }

  #content {
    flex-direction: row;
  }

  #logo {
    width: 20rem;
    height: 20rem;
  }

  .mobile {
    display: none;
  }

  .non-mobile {
    display: inline;
  }

  #content {
    margin-left: 10vw;
    margin-top: 30vh;
  }
}